@page
@model IndexModel
@{
    ViewData["Title"] = "Assignment 1";
}

<div class="container mt-5">
    <!-- Title Bar -->
    <div class="title-bar text-left p-4 mb-4">
        <h1>WVU Tech Graduating Class of 2025</h1>
    </div>

    <!-- Students -->
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/image1.webp" class="card-img-top img-fluid mx-auto d-block" alt="Student 1">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <strong>Iron Mike</strong>
                        <span>GPA: 2.5</span>
                    </div>
                    <div class="text-center mt-2">Class of 2025</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/image2.jpg" class="card-img-top img-fluid mx-auto d-block" alt="Student 2">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <strong>Mike Ross</strong>
                        <span>GPA: 3.9</span>
                    </div>
                    <div class="text-center mt-2">Class of 2025</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/image3.jpg" class="card-img-top img-fluid mx-auto d-block" alt="Student 3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <strong>Sophia Patt</strong>
                        <span>GPA: 4.0</span>
                    </div>
                    <div class="text-center mt-2">Class of 2025</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Students -->
    <div class="row mt-4">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <img src="~/images/image4.webp" class="card-img-top img-fluid mx-auto d-block" alt="Student 4">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <strong>Scottie Scheffler</strong>
                        <span>GPA: 3.1</span>
                    </div>
                    <div class="text-center mt-2">Class of 2025</div>
                </div>
            </div>
        </div>
    </div>
</div>
